<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- script(src='../node_modules/bootstrap/js/dist/carousel.js')
        //- link(rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
        style
            include ../style/default.css
        //- link(rel="custom_stylesheet", href="../style/default.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
        //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
        //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
        title Home
    body
        //- Navbar construction
        header
            nav.navbar.navbar-expand-lg.navbar-dark
              .container
                a.navbar-brand(href='#') Container
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample07', aria-controls='navbarsExample07', aria-expanded='false', aria-label='Toggle navigation')
                  span.navbar-toggler-icon
                #navbarsExample07.collapse.navbar-collapse
                  ul.navbar-nav.mr-auto
                    li.nav-item.active
                      a.nav-link(href='#')
                        | Home 
                        span.sr-only (current)
                    li.nav-item
                      a.nav-link(href='#') Link
                    li.nav-item
                      a.nav-link.disabled(href='#') Disabled
                    li.nav-item.dropdown
                      a#dropdown07.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                      .dropdown-menu(aria-labelledby='dropdown07')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here
                  form.form-inline.my-2.my-md-0
                    input.form-control(type='text', placeholder='Search', aria-label='Search')

        main(role="main")
          div(class="center-text log-flex container")
            form(class="edit-form-signup" action="/user/register" method="POST")
              h1(class="h3 mb-3 font-weight-normal text-center cl-white") Profile Editing
              div(class="row")
                div(class="col-md-6 mb-3")
                  label(for="name" class="cl-white") Name
                  input(type="text" class="form-control" id="name" placeholder="Liam" required)
                div(class="col-md-6 mb-3")
                  label(for="surname" class="cl-white") Surname
                  input(type="text" class="form-control" id="surname" placeholder="Du Preeeeeeeeeeeeeeeeeeeeee" required)
              div(class="row")
                div(class="col-md-6 mb-3")
                  label(for="username" class="cl-white") Username
                  input(type="text" class="form-control" id="username" placeholder="I like rias's tits" required)
                div(class="col-md-6 mb-3")
                  label(for="email" class="cl-white") Email
                  input(type="text" class="form-control" id="email" placeholder="EndlessHorizon@gmail.co.za" required)
              div(class="row")
                div(class="col-md-6 mb-3")
                  label(for="password" class="cl-white") Password
                  input(type="text" class="form-control" id="password" placeholder="Name that bish" required)
                div(class="col-md-6 mb-3")
                  label(for="pwconfirm" class="cl-white") Password Confirmation
                  input(type="text" class="form-control" id="pwconfirm" placeholder="Say that again bish" required)
              div(class="row")
                div(class="col-md-6 mb-3")
                  label(for="address" class="cl-white") Address
                  input(type="text" class="form-control" id="address" placeholder="1 Endless Horizon Avenue" required)
                div(class="col-md-6 mb-3")
                  label(for="sp" class="cl-white go-away") Sexual Preference
                  select(name="sp" id="gender" class="form-control")
                    option(value="Male") Male
                    option(value="Female") Female
              div(class="row")
                div(class="col-md-6 mb-3")
                  label(for="img-1" class="cl-white") image-1
                  input(type="file" class="form-control-file cl-white" id="img-1" name="n-img-1")
                div(class="col-md-6 mb-3")
                  label(for="img-2" class="cl-white") image-2
                  input(type="file" class="form-control-file cl-white" id="img-2" name="n-img-2")
              div(class="row")
                div(class="col-md-6 mb-3")
                  label(for="img-3" class="cl-white") image-3
                  input(type="file" class="form-control-file cl-white" id="img-3" name="n-img-3")
                div(class="col-md-6 mb-3")
                  label(for="img-4" class="cl-white") image-4
                  input(type="file" class="form-control-file cl-white" id="img-4" name="n-img-4")
              div(class="row")
                div(class="col-md-6 mb-3")
                  label(for="img-5" class="cl-white") image-5
                  input(type="file" class="form-control-file cl-white" id="img-5" name="n-img-5")
                div(class="col-md-6 mb-3")
                  label(for="interest" class="cl-white") Interests
                  input(type="text" class="form-control" id="interest" placeholder="anime, gaming, socailly awkward" required)
                  
                
              button(class="btn btn-secondary btn-lg btn-block" type="submit") Change Info

        footer(class="container")
           div(class="footer-copyright text-center py-3") © 2020 Copyright: Endless Horizon

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"
    )
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" integrity="sha256-pS96pU17yq+gVu4KBQJi38VpSuKN7otMrDQprzf/DWY=" crossorigin="anonymous")
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"
      integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs="
      crossorigin="anonymous"
    )
    